body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    text-align: center;
    padding: 50px 0;
    margin: 0;
}

.container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
}

/* Style for the date input */
#birthdateInput {
    padding: 10px;      /* Bigger touch target */
    font-size: 16px;    /* Larger text */
    border: 2px solid #ddd; /* Stylish border */
    border-radius: 5px; /* Rounded corners */
    width: calc(100% - 24px); /* Full width taking padding and border into account */
    margin-bottom: 10px; /* Space below the input */
    box-sizing: border-box; /* Border-box sizing to include padding and border in the width */
}

/* Style for the input area for spacing */
.input-area {
    padding: 20px;
    text-align: middle; /* Aligns the text to the left */
    max-width: 175px; /* Matches the width of your .container */
    margin: 20px auto; /* Centering the input area */
}

/* Style for the submit button to match the input */
#calculateButton {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #4caf50; /* A green color; change as needed */
    color: white; /* White text color */
    cursor: pointer; /* Makes it clear the button is clickable */
    margin-top: 10px; /* Space above the button */
}

/* Change button color on hover for better user experience */
#calculateButton:hover {
    background-color: #45a049;
}


.timer {
    background-color: #ffffff;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#lifeProgressBarContainer {
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 5px;
    margin: 10px 0;
    padding: 3px;
}

#lifeProgressBar {
    height: 20px;
    background-color: #4caf50;
    border-radius: 5px;
    width: 0%; /* Initial width */
    transition: width 0.5s;
}

#lifeProgressChartContainer {
    margin: 20px auto;
    width: 200px; /* Width of the SVG chart */
}

/* Smooth transitions for progress bars */
#lifeProgressBar, #lifeProgressChart circle:nth-child(2) {
    transition: width 1s ease-out, stroke-dashoffset 1s ease-out;
}

.timeline-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin: 20px 0;
    position: relative; /* Add this if not present */
}

/* Adjust the SVG width if necessary */
#lifespanTimeline {
    max-width: 600px; /* Match the width of your container or adjust as needed */
    width: 100%;
    height: 100px;
    position: absolute; /* Add this to position it relative to the timeline-container */
}


h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    font-size: 20px;
    font-weight: bold;
    color: #555;
}