body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    text-align: center;
    padding: 50px 0;
    margin: 0;
}

.container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
}

#birthdateInput {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ddd;
    border-radius: 5px;
    width: calc(100% - 24px);
    margin-bottom: 10px;
    box-sizing: border-box;
}

.input-area {
    padding: 20px;
    text-align: center;
    margin: 20px auto;
}

#calculateButton {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #4caf50;
    color: white;
    cursor: pointer;
    margin-top: 10px;
}

#calculateButton:hover {
    background-color: #45a049;
}

.timer, .age-display, .milestones {
    background-color: #ffffff;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#lifeProgressBarContainer {
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 5px;
    margin: 10px 0;
    padding: 3px;
}

#lifeProgressBar {
    height: 20px;
    background-color: #4caf50;
    border-radius: 5px;
    width: 0%;
    transition: width 0.5s;
}

@media only screen and (max-width: 768px) {
    .container {
        width: 90%;
        padding: 10px;
    }
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    font-size: 20px;
    font-weight: bold;
    color: #555;
}
